.title {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  justify-content: center !important;
  display: flex;
  margin-bottom: 5px;
}

.comment {
  width: 298px;
  height: 30px;
  opacity: 0.6;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  justify-content: center !important;
  display: flex;
  margin-bottom: 20px
}

.min-height-auth {
  min-height: calc(100vh - 207px);
}

.min-height-dashboard {
  min-height: calc(100vh - 89px);
}

.full-height-dashboard {
  min-height: 100vh;
}

.justify-vertical {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.justify-vert-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vue-tel-input {
  border-radius: 5px !important;
  border: solid 1px rgba(0, 0, 0, 0.07) !important;
  height: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.vue-tel-input input {
  font-size: 16px;
  text-align: left;
  color: #7c7d8d;
  padding-left: 20px !important;
  border-radius: 0 5px 5px 0 !important;
  height: 48px !important;
}

.vue-tel-input .iti-flag {
  display: none;

}

.vue-tel-input .dropdown {
  padding: 7px 0px 7px 20px !important;
  font-size: 15px !important;
  color: #7c7d8d;
  border-radius: 5px !important;
}

.vue-tel-input span.country-code {
  width: 55px;
  margin-left: 18px;
  height: 24px;
  padding-top: 4px;
}

.vue-tel-input span.dropdown-arrow {
  position: absolute;
}

.vue-tel-input .dropdown ul {
  margin-top: 15px;
}

.vue-tel-input .dropdown {
  background-color: #fff !important;
}

.vue-tel-input .selection {
  border: solid 2px rgba(0, 0, 0, 0.07);
  border-left: unset;
  border-top: unset;
  border-bottom: unset;
}

.form-control:disabled, .form-control[readonly] {
  border-radius: 5px !important;
  border: solid 1px rgba(0, 0, 0, 0.07) !important;
  background-color: #f3f3f3 !important;
}

.v--modal-overlay .v--modal-box {
  border-radius: 10px !important;
}

.jqx-combobox-arrow-normal, .jqx-action-button {
  margin-left: -8px !important;
  width: 25px !important;
  background-color: #fff !important;
}

.jqx-combobox .jqx-icon-arrow-down {
  width: 10px;
  transform: scale(1.2);
  height: 17px;
}

.jqx-combobox-input {
  padding-left: 20px !important;
}

.jqx-widget-content {
  border-radius: 5px !important;
  border-color: rgba(0, 0, 0, 0.07);
}

.custom-modal input {
  height: 50px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-radius: 5px !important;
  border: solid 1px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 13px 20px 16px 20px;
  color: #7c7d8d;
  font-size: 16px;
}

.custom-modal .input-group {
  display: block;
}

.custom-modal .input-group input {
  width: 100%;
}

.custom-modal .form-group {
  margin-bottom: 26px;
}

.custom-modal .form-group p {
  margin-bottom: 14px;
}

.modal-inside {
  padding: 32px 55px 32px 55px;
  display: list-item;
}

.alert-modal .msg {
  margin-bottom: 43px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}

.error-msg {
  color: rgb(233, 75, 61);
  line-height: 1.8;
  padding-left: 5px;
}

.vue-notification {
  padding: 15px;
  margin: 5px;
  border-radius: 5px !important;
  font-size: 15px;
  
  color: #f2f2f2;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
 
  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.btn-switch {
  color: #007bff !important;
  text-align: right;
  cursor: pointer;
}

.btn-switch:hover {
  text-decoration: underline !important;
}

.width-interit {
  width: inherit
}

.custom-bubble {
    width: 260px;
}

.custom-bubble p {
  margin-bottom: 5px !important;
}

.custom-bubble .btn {
  font-size: 14px !important;
  background-color: #727CF5 !important;
}

.cursor-pointer {
  cursor: pointer;
}